body{
  background-color: #62c2c8;
}

.App{
  background-color: white;
  min-height: 80vh;
  width: 400px;
  margin: 20px auto;
}

.crossed{
  text-decoration: line-through 2px red;
  background-color: #f0f0f0;
}

ul, li{
  list-style-type: none;
  padding: 10px;
  margin: 0;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
}

h1{
  font-family: 'Montserrat', sans-serif;
}

.container{
  display: flex;
  justify-content: center;
}

.Add{
  width: 70%;
  padding: 10px;
  border: none;
  margin-top: 5px;
  color: white;
  background: #65aa06;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}

.delete{
  width: 70%;
  padding: 10px;
  border: none;
  margin-bottom: 5px;
  color: white;
  background: #d30100;
  font-size: 16px;
  font-family: 'Montserrat', sans-serif;
}

input{
  flex: 1;
  padding: 8px;
  margin: 10px;
  font-family: 'Montserrat', sans-serif;
}

img{
  border-radius: 50%;
}